.content 
{
    margin: 0px 150px 0px 150px;
}

.column2 
{
    width: 100%;
}

form 
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: auto;
}

#image 
{
    width: 100%;
    margin: 0px 0px 20px 0px;
}
