body {
    min-height: 100vh;    
}

.content {
    display: flex;
    flex-direction:row;
}

.content .column1 {
    width: 50%;
    background-color: var(--content-background-color);
    display: flex;
    justify-content: right;
}

.content .column1 img {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.content .column2 {
    width: 50%;
    background-color: var(--content-background-color);
    padding: 60px 135px 60px 85px;
}

.title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.author {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-text-color);
    padding: 10px 0px 5px 0px;
}

.break {
    color: var(--grey-text-color);
    margin: 2px 0px 10px 0px;
}

.sectionTitle {
    font-family: 'inter', sans-serif;
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0px 0px 0px;
}

.description p {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 0px 2px 0px;
}

.userIcon {
    margin: 0px 0px 50px 0px;
}

@media all and (max-width :1000px) {
    .breadcrumb {
        display: none;    
    }
    .content {
        flex-direction: column;
    }
    
    .content .column1 {
        width: 100%
    }

    .content .column1 img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .content .column2 {
        width: 100%;
        padding: 30px 20px 60px 20px;
        box-sizing: border-box;
    }
    
}
