.content {
    flex-direction:row;
    background-color: var(--background-color);
}

.content .column1 {
    width: 50%;
    padding: 100px 100px 100px 100px;
}

.signIn {
    display: flex;
    flex-direction: column;
}

.content .column2 {
    width: 50%;
}

.column2 img {
    width: 100%;
    height: auto;
}

.button {
    margin: 30px 0px 20px 0px;
}

p {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

p a {
    text-decoration: underline;
}

@media all and (max-width :800px) {
    .content {
        flex-direction: column;
    }
    
    .content .column1 {
        width: 100%;
        padding: 50px 20px 50px 20px;
        box-sizing: border-box;
    }
    
    .content .column2 {
        width: 100%;
    }
    
}
