/**
 * Reset css.
 */
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */
:root{
    --background-color: #f5f3ef;
    --button-green-background-color: #00ac66;
    --grey-text-color: #a6a6a6;
    --background-available: #6DC5A1;
    --background-unavailable: #C56D6D;
    --background-row-table: #EDF2F6;
    --background-received-message: white;
    --background-sent-message: #EDF2F6;
    --strong-grey-text-color: #292929;
    --content-background-color: #FAF9F7;
}

body {
    background-color: var(--background-color);
    margin : 0;
}

p {
    font-family:'inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

header {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    background-color: var(--background-color);
    margin: 10px 150px 10px 150px;
}

.responsiveMenu {
    display: none;
}

footer {

    font-family: 'inter', sans-serif;
    font-size: 12px;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 40px;
    justify-content: right;
}

a {
    text-decoration: none;
    color: inherit;
}

.screenMenu {
    display: flex;
    justify-content: space-between;
}

.screenMenu .menu {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.burgerMenu {
    display: none;
    align-items: center;
    margin: 0px 20px 0px 0px;
}

.logoFooter a {
    position: relative;
    height: 22px;
    width: 17px;
    padding-right: 20px;
}

.logoFooter a .element1 {
    position: absolute;
    left: 0px;
    top: 0px;
}

.logoFooter a .element2 {
    position: absolute;
    left: 12px;
    top: 6px;
}

.menu a{
    display:flex;
    flex-direction: row;
}

.messageNumber {
    background-color:black;
    padding : 3px 5px 3px 5px;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    height: 15px;
    color: white;
    width: fit-content;
    font-family: 'inter', sans-serif;
    font-size: 11px;
    font-weight: 700;
    display: inline;
}

.button {
    padding: 15px 40px 15px 40px;
    background-color: var(--button-green-background-color);
    border-radius: 10px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.button-reverse {
    padding: 15px 40px 15px 40px;
    background-color: var(--background-color);
    border-radius: 10px;
    color: var(--button-green-background-color);
    border: 1px solid var(--button-green-background-color);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

h1 {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0px 50px 0px;
}

.legend {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: var(--grey-text-color);
}

.bookCard {
    display: flex;
    flex-direction: column;
    margin: 0px 9px 0px 9px;
    background-color: white;
    width: 200px;
}

.bookCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px 40px 0px;
    gap: 40px;
}

.bookCard a {
    display: flex;
    flex-direction: column;
}

.bookCard .imageContainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.bookCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bookCard .title {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 10px 5px 10px;
}

.bookCard .author {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey-text-color);
    margin: 5px 10px 10px 10px;
}

.bookCard .seller {
    display: flex;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: var(--grey-text-color);
    height: 62px;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.content {
    margin: auto;
    display: flex;
}

.userIcon {
    height: 60px;
    width: fit-content;
    background-color: white;
    border-radius: 114px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userIcon img {
    height: 48px;
    width: auto;
    border-radius:114px;
    margin-left: 7px;
}

.userIcon p {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight:400;
    margin: 0px 20px 0px 10px;
}

.breadcrumb {
    margin: 20px 150px 20px 150px
}

.breadcrumb p {
    font-family: 'inter', sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: var(--grey-text-color);
}

label {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-text-color);
    margin: 20px 0px 10px 0px;
}

input {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    height: 50px;
    max-width: 320px;
    padding: 0px 10px 0px 10px;
}

input[type="file"]::file-selector-button {
    background-color:white;
    padding; 10px 20px;
    border: none;
}

textarea {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    min-height: 150px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 400;

}

select {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    height: 50px;
    padding: 0px 10px 0px 10px;
    width: 320px;
}

.available {
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    background-color: var(--background-available);
    color: white;
    font-family: 'inter', sans-serif;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    width: 50px;
}

.unavailable {
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    background-color: var(--background-unavailable);
    color: white;
    font-family: 'inter', sans-serif;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    width: 50px;
}

.headerIcon {
    height: 13px;
    width: auto;
    margin: 0px 5px 0px 5px;
}

.activePage {
    font-weight: bold;
}

@media all and (max-width :1000px) {

    header {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;    
    }

    .screenMenu {
        display: none;
    }

    .responsiveMenu .burgerMenu {
        display: flex;
    }

    .bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 10px 15px 10px;
    }

    a img {
        height: 35px;
    }

    .responsiveMenu {
        display: block;
    }

    .logo {
        margin:0px 0px 0px 15px;
    }

    .menuContent {
        display: none;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menuContent li {
        width: 100%;
        background-color: white;
        text-align: center;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer .box {
        padding: 10px;
    }

    footer .logoFooter {
        padding: 10px;

    }

    h1 {
        font-size: 30px;
        margin: 10px 0px 10px 0px;
    }

    p {
        font-size: 16px;
    }

    .bookCards {
        margin: 0px 15px 0px 15px;
        gap: 15px;
    }

    .bookCard {
        width: 160px;
    }

    .bookCard .imageContainer {
        width: 160px;
        height: 160px;
    }

    .bookCard .title {
        font-size: 13px;
    }

    .bookCard .author {
        font-size: 11px;
    }

    .bookCard .seller {
        font-size: 8px;
    }

    .content {
        width: 100%;
        margin: 0;
    }

    .button {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    .button-reverse {
        margin: 0px 20px 0px 20px;
        padding: 20px 0px 20px 0px;
        width: auto;
    }

    input {
        width: auto;
        max-width: none;
    }

}

