/**
 * Reset css.
 */
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */
:root{
    --background-color: #f5f3ef;
    --button-green-background-color: #00ac66;
    --grey-text-color: #a6a6a6;
}

body {
    background-color: var(--background-color);
    margin : 0;
}

p {
    font-family:'inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

header {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    background-color: var(--background-color);
    margin: 10px 150px 10px 150px;
}

footer {

    font-family: 'inter', sans-serif;
    font-size: 12px;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 40px;
    justify-content: right;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

nav .burgerMenu {
    display: none;
    align-items: center;
}

.logoFooter a {
    position: relative;
    height: 22px;
    width: 17px;
    padding-right: 20px;
}

.logoFooter a .element1 {
    position: absolute;
    left: 0px;
    top: 0px;
}

.logoFooter a .element2 {
    position: absolute;
    left: 12px;
    top: 6px;
}

.button {
    padding: 15px 40px 15px 40px;
    background-color: var(--button-green-background-color);
    border-radius: 10px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.button-reverse {
    padding: 15px 40px 15px 40px;
    background-color: var(--background-color);
    border-radius: 10px;
    color: var(--button-green-background-color);
    border: 1px solid var(--button-green-background-color);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0px 50px 0px;
}

.legend {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: var(--grey-text-color);
}

.bookCard {
    display: flex;
    flex-direction: column;
    margin: 0px 9px 0px 9px;
    background-color: white;
}

.bookCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px 40px 0px;
    gap: 40px;
}

.bookCard img {
    width: 200px;
    height: 200px;
}

.bookCard .title {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 10px 5px 10px;
}

.bookCard .author {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey-text-color);
    margin: 5px 10px 10px 10px;
}

.bookCard .seller {
    display: flex;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: var(--grey-text-color);
    height: 62px;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.content {
    margin: auto;
    display: flex;
}
@media all and (max-width :800px) {

    header {
        margin:15px 0px 15px 0px;
        padding: 0px 20px 0px 15px;    
    }

    nav {
    }

    nav .menu {
        display: none;
    }

    nav .burgerMenu {
        display: flex;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer .box {
        padding: 10px;
    }

    footer .logoFooter {
        padding: 10px;

    }

    h2 {
        font-size: 30px;
        margin: 10px 0px 10px 0px;
    }

    p {
        font-size: 16px;
    }

    .bookCards {
        margin: 0px 15px 0px 15px;
        gap: 15px;
    }

    .bookCard img {
        width: 160px;
        height: 160px;
    }

    .bookCard .title {
        font-size: 13px;
    }

    .bookCard .author {
        font-size: 11px;
    }

    .bookCard .seller {
        font-size: 8px;
    }

    .content {
        width: 100%;
        margin: 0;
    }

    .button {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    .button-reverse {
        margin: 0px 20px 0px 20px;
        padding: 20px 0px 20px 0px;
        width: auto;
    }
}

