body {
    max-height: 100vh;
}

.page 
{
    margin: 0px 150px 0px 150px;
    display: flex;
    flex-direction: column;
}

.back 
{
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-text-color);
    margin: 20px 0px 5px 0px;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 5px 0px 10px 0px;
}

.updatePicture {
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--strong-grey-text-color);
    text-align: right;
    margin: 20px 0px 10px 0px;
    text-decoration: underline;
}

.content 
{
    margin: 0px 0px 0px 0px;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0px 0px 60px 0px;
}

.content .column1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 0px 40px 0px 40px;
}

.content .column1 img {
    width: auto;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}

.content .column2 {
    width: 50%;
    padding: 0px 40px 0px 40px;
    margin: 0px 0px 40px 0px;
}

form 
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: auto;
}

#image 
{
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.button 
{
    margin: 30px 0px 0px 0px;
}

textarea, .title, .author, .description, .availability
{
    width: auto;
    background-color: var(--background-sent-message);
}

#bookPicture
{
    display: none; 
}

@media all and (max-width :1000px) {

    .content 
    {
        flex-direction: column;
    }
    
    .content .column1 {
        width: auto;
    }
    
    .content .column2 {
        width: auto;
    }
    
    textarea, .title, .author, .description, .availability
    {
        height: fit-content;
        min-height: 50px;
    }
}
